$menuText:#bfcbd9;
$menuActiveText:#fff;

$menuBg:#242A40;
$menuHover:#2D3349;

$subMenuBg:#242A40;
$subMenuHover:#2D3349;
$menuItemLight: #42b983;

$dropdown-active-text: #42b983;
$dropdown-active-bg: #ecf8f3;

:root {
  --Main: #42b983;
}
