$menuText:#bfcbd9;
$menuActiveText:#fff;

$menuBg:#242A40;
$menuHover:#2D3349;

$subMenuBg:#242A40;
$subMenuHover:#2D3349;
$menuItemLight: #A67CEF;

$dropdown-active-text: #A67CEF;
$dropdown-active-bg: #f6f2fd;

:root {
  --Main: #A67CEF;
}
