$menuText:#bfcbd9;
$menuActiveText:#fff;

$menuBg:#242A40;
$menuHover:#2D3349;

$subMenuBg:#242A40;
$subMenuHover:#2D3349;
$menuItemLight: #1A7AE8;

$dropdown-active-text: #1A7AE8;
$dropdown-active-bg: #ecf5ff;

:root {
  --Main: #1A7AE8;
}